{% extends 'blog/base/base.html' %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
<div>
    <div class="nav_buttons">
        {% if request.user.is_authenticated %}
        <div><a class="nav_button" href="{% url 'create_post' %}">Добавить пост</a></div>
        <div><a class="nav_button" href="{% url 'create_category' %}">Категории</a></div>
        <div><a class="nav_button" href="{% url 'category_filter'  %}">Фильтариция по категориям</a></div>
        <div><a class="nav_button" href="{% url 'author_filter'  %}">Фильтариция по авторам</a></div>

        {% endif %}
    </div>


    <div class="posts">
        {% for post in posts %}
        <a href="{% url 'post_detail' pk=post.id %}">
            <div class="item">
                <p>{{ post.title }}<br/>
                    {{ post.category.name }}</p>
            </div>
        </a>

        {% empty %}
            <p>Посты отсутствуют</p>
        {% endfor %}
    </div>
</div>


{% endblock content %}
